pandas 
seaborn 
pyspark
jupyterlab
notebook
jupyterthemes
pyspark
xgboost
scipy
tqdm
statsmodels
sktime
ipykernel
kafka-python
zookeeper
pyarrow
scikit-learn
pycatch22
imblearn
spark-sklearn
sklearn

